<!DOCTYPE HTML>
<html>

<head>
    <title>Mari - About Us</title>
    <link rel="icon" href="/public/favicon.ico">
    <link rel="stylesheet" href="/public/index.css">
    <link rel="stylesheet" href="/public/about.css">
    <script src="/public/index.js"></script>
</head>

<body>
    <div class="anchorTop">
        <header>
            <img class="logo" src="/public/logo.jpeg">
        </header>
        <nav>
            <div class="navitem" onclick="navItemClicked(this)">
                <a href="/">Home</a>
            </div>
            <div class="navitem" onclick="navItemClicked(this)">
                <a href="/products">Products</a>
                <div class="dropdown hidden">
                    <div><a href="/products/indobatik">Indonesian batik</a></div>
                    <div><a href="/products/stylebatik">Peranakan style batik</a></div>
                    <div><a href="/products/modern">Modern designs</a></div>
                </div>
            </div>
            <div class="navitem" onclick="navItemClicked(this)">
                <a href="/contact">Contact</a>
            </div>
            <div class="navitem" onclick="navItemClicked(this)">
                <a href="/aboutus">About Us</a>
            </div>
        </nav>
        <main>
            <h1>About Us</h1>
            <div class="main-section">
                <img class="img1" src="/public/images/about/aboutus.JPG">
                <p>Mari art mask provides a selection of colors and patterns from a wide range of selections. Ranging from traditional batik, contemporary patterns and soft modern approach. We believe that by producing quality, reusable, washable masks we are supporting the community at best. Adhering to suggested mask production criterias, the masks we produced are enhanced with 4 ply technology that ensures the protection of you and the people around you. Additionally they are hand sewn in such a way that ensures the utmost comfort upon using. Having multiple size ranges for kids, teens and adults alike. 
                    <br/><br/>
                    Made with quality breathable clothes that are washable we are encouraging people to reduce the consumption of disposable masks and instead take a more ecofriendly approach. However what distinct Mari is the focus on utilizing Batik cloths sources from various traditional vendors and suppliers. Bought at a fair price, we believe in giving back to our community. We are proud to be donating a portion of our mask quotas for those in our community that are most at risk. </p>
            </div>
        </main>
    </div>
    <footer>
        <div>
            <p>Find Us On</p>
            <a href="https://www.instagram.com/m4ri_the_indonesian_art_mask/"><img src="/public/instalogo.png"></a>
        </div>
        <p>Copyright © 2021 All Rights Reserved</p>
    </footer>
</body>

</html>