<!DOCTYPE HTML>
<html>

<head>
    <title>Mari - Contact Us</title>
    <link rel="icon" href="/public/favicon.ico">
    <link rel="stylesheet" href="/public/index.css">
    <link rel="stylesheet" href="/public/contact.css">
    <script src="/public/index.js"></script>
</head>

<body>
    <div class="anchorTop">
        <header>
            <img class="logo" src="/public/logo.jpeg">
        </header>
        <nav>
            <div class="navitem" onclick="navItemClicked(this)">
                <a href="/">Home</a>
            </div>
            <div class="navitem" onclick="navItemClicked(this)">
                <a href="/products">Products</a>
                <div class="dropdown hidden">
                    <div><a href="/products/indobatik">Indonesian batik</a></div>
                    <div><a href="/products/stylebatik">Peranakan style batik</a></div>
                    <div><a href="/products/modern">Modern designs</a></div>
                </div>
            </div>
            <div class="navitem" onclick="navItemClicked(this)">
                <a href="/contact">Contact</a>
            </div>
            <div class="navitem" onclick="navItemClicked(this)">
                <a href="/aboutus">About Us</a>
            </div>
        </nav>
        <main>
            <div class="contactform">
                <h1>Contact Us</h1>
                <form action="mailto:agustinatowilma@gmail.com" method="post" enctype="text/plain">
                    <input name="name" id="name" placeholder="Name..."><br/>
                    <input type="email" name="mail" id="email" placeholder="Email..."><br/>
                    <textarea name="comment" id="message" placeholder="Message..."></textarea><br/>
                    <button id="formbutton">Submit</button>
                </form>
            </div>
        </main>
    </div>
    <footer>
        <div>
            <p>Find Us On</p>
            <a href="https://www.instagram.com/m4ri_the_indonesian_art_mask/"><img src="/public/instalogo.png"></a>
        </div>
        <p>Copyright © 2021 All Rights Reserved</p>
    </footer>
    <script src="/public/contact.js"></script>
</body>

</html>